#tree {
    box-sizing: border-box;
    position: relative;
    text-align: center;
}

#tree [id^="el"] {
    display: inline-block;
    margin: 1rem;
    vertical-align: top;
}

#tree [id^="el"].visited > span i{
    background: #7234eb;
}

#tree span {
    display: block;
}

#tree span i {
    background: #15d8e6;
    border-radius: 50%;
    box-shadow: 1px 1px 3px -1px blue;
    color: #fff;
    display: inline-block;
    font-family: monospace;
    font-style: normal;
    height: 20px;
    padding: 9px 10px;
    transition: background-color 1s linear;
    width: 20px;
}

#tree .left {
    position: relative;
    right: 40px;
}

#tree .right {
    left: 20px;
    position: relative;
}

#tree [id^="el"].left::after {
    border-top: 1px dotted #777;
    content: "";
    left: calc(53% + 20px);
    position: absolute;
    top: 0;
    transform: rotate(343deg);
    width: calc(15% + 15px);
}

#tree [id^="el"].right::after {
    border-top: 1px dotted #777;
    content: "";
    position: absolute;
    right: calc(56% + 20px);
    top: 0;
    transform: rotate(31deg);
    width: calc(15% + 15px);
}

nav {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px 0 40px;
}

nav button {
    background: #52eb34;
    border: unset;
    border-radius: 4px;
    box-shadow: 1px 1px 3px -1px #000;
    color: #fff;
    cursor: pointer;
    font-family: monospace;
    font-size: 14px;
    margin: 0 10px;
    padding: 5px 10px;
    text-decoration: none;
}

nav button:focus {
    outline: none;
}

nav button:hover {
    background: #15d8e6;
}

nav button:active {
    box-shadow: 1px 1px 2px -1px #000 inset;
}

nav button[disabled] {
    background: #ddd;
}

nav button[disabled].active {
    background: #52eb34;
}
