<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hit Counter</title>
</head>
<body>
    <template id="hit-counter">
        <link rel="stylesheet" type="text/css" href="style.css">
        <button id="hit-btn">Raise Count!</button>
        <span id="output">0</span>
    </template>
    <hit-counter initial-count="1001"></hit-counter>

    <script type="text/javascript" src="script.js" defer></script>
</body>
</html>