#spinner {
  background: linear-gradient(pink, yellow);
  border: 1px solid green;
  box-shadow: 0 0 3px;
  height: 50px;
  margin: 10% auto;
  width: 50px;
}

#button {
  background: linear-gradient(pink, yellow);
  border-radius: 4px;
  color: green;
  cursor: pointer;
  font-family: monospace;
  padding: 5px 10px;
  text-transform: uppercase;
}

@keyframes spin {
  from {
    border-radius: 0;
  }
  50% {
    border-radius: 50%;
    box-shadow: 0 0 0;
    transform: rotate(360deg);
  }
  75% {
    transform: rotate(0);
  }
  to {
    border-radius: 0;
    box-shadow: 0 0 3px;
  }
}
