<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carousel Demo</title>
    <script type="text/javascript" defer src="script.js"></script>
</head>
<body>
    <template id="image-slider">
        <link rel="stylesheet" type="text/css" href="image-slider.css">
        <div id="image-container">
            <div id="screen">
                <div class="element">
                    <h2>Test title</h2>
                    <p>This is test description, some words about nothing and some <strong>strong text</strong> and then some <em>italic one</em>.</p>
                </div>
                <div class="element">
                    <h2>Test title</h2>
                    <p>This is test description, some words about nothing and some <strong>strong text</strong> and then some <em>italic one</em>.</p>
                </div>
                <div class="element">
                    <h2>Test title</h2>
                    <p>This is test description, some words about nothing and some <strong>strong text</strong> and then some <em>italic one</em>.</p>
                </div>
            </div>
            <div id="left">⬅️</div>
            <div id="right">➡️</div>
        </div>
    </template>
    <image-slider></image-slider>
</body>
</html>