<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Tester</title>
    <script type="text/javascript" src="./script.js" defer></script>
    <link rel="stylesheet" href="./style.css" type="text/css" />
</head>
<body>
    <form id="form">
      <label for="email">email</label>
      <input name="email" type="email" />
      <label for="search">search</label>
      <input name="search" type="search" />
      <label for="tel">tel</label>
      <input name="tel" type="tel" />
      <label for="url">url</label>
      <input name="url" type="url" />
      <label for="number">number</label>
      <input name="number" type="number" min="0" max="10"/>
      <label for="range">range</label>
      <input name="range" type="range" min="0" max="10" />
      <label for="date">date</label>
      <input name="date" type="date" />
      <label for="color">color</label>
      <input name="color" type="color" />
      <label for="password">password</label>
      <input name="password" type="password" />
      <label for="file">file</label>
      <input name="file" type="file" />
      <input type="submit"/>
    </form>
</body>
</html>
