<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Squares Animation</title>
    <script type="text/javascript" src="./script.js" defer></script>
    <link rel="stylesheet" type="text/css" href="./style.css"/>
</head>
<body>
  <ul id="list">
    <li>
      <input type="checkbox" name="game" class="group" /><label for="game">Game:</label>
      <ul>
        <li><input type="checkbox" name="ff" /><label for="ff">Final Fantasy</label></li>
        <li><input type="checkbox" name="w" /><label for="w">Witcher 3</label></li>
        <li>
          <input type="checkbox" name="es" class="group" /><label for="es">Elder Scrolls</label>
          <ul>
              <li><input type="checkbox" name="mor" /><label for="mor">Morrowind</label></li>
              <li><input type="checkbox" name="obl" /><label for="obl">Oblivion</label></li>
              <li><input type="checkbox" name="sky" /><label for="sky">Skyrim</label></li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <input type="checkbox" name="difficulty" class="group"/><label for="difficulty">Difficulty:</label>
      <ul>
          <li><input type="checkbox" name="ez" /><label for="ez">Easy</label></li>
          <li><input type="checkbox" name="m" /><label for="m">Medium</label></li>
          <li><input type="checkbox" name="h" /><label for="h">Hard</label></li>
      </ul>
    </li>
  </ul>
</body>
</html>
