<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CSS Slider</title>
	<link rel="stylesheet" href="style.css" />
</head>
<body>
	<div id="slider">
		<div class="item" id="item1">
			<img src="gw2.jpg" alt=""/>
			<a href="#item4">
				<img src="back.svg" alt="back" />
			</a>
			<a href="#item2">
				<img src="fw.svg" alt="forward" />
			</a>
		</div>
		<div class="item" id="item2">
			<img src="witcher.jpg" alt=""/>
			<a href="#item1">
				<img src="back.svg" alt="back" />
			</a>
			<a href="#item3">
				<img src="fw.svg" alt="forward" />
			</a>
		</div>
		<div class="item" id="item3">
			<img src="wow.jpg" alt=""/>
			<a href="#item2">
				<img src="back.svg" alt="back" />
			</a>
			<a href="#item4">
				<img src="fw.svg" alt="forward" />
			</a>
		</div>
		<div class="item" id="item4">
			<img src="zelda.jpg" alt=""/>
			<a href="#item3">
				<img src="back.svg" alt="back" />
			</a>
			<a href="#item1">
				<img src="fw.svg" alt="forward" />
			</a>
		</div>
	</div>
</body>
</html>