<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Queue</title>
</head>
<body>
    <task-queue></task-queue>
    <template id="task-queue">
        <link rel="stylesheet" type="text/css" href="task-queue.css">
        <h2>Task Queue Progress Status:</h2>
        <div id="progress-bar">
            <div id="loading-strip"></div>
        </div>
        <button id="start">Start Tasks</button>
        <div id="task-log"></div>
    </template>
    <script src="task-queue.js" type="text/javascript" defer></script>
</body>
</html>
