.table {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.cell {
  background: hsl(130, 50%, 50%);
  width: 100px;
  height: 100px;
  margin: 5px;
}

.cell.hidden {
  visibility: hidden;
}
