body {
    background: #333;
}

.container {
    background: #90091e;
    border-radius: 4px;
    border: 1px solid;
    box-shadow: 1px 1px 3px #000;
    height: 130px;
    margin: 20px 0;
    position: relative;
    width: 130px;
}

#container2 {
    background: green;
}

#container3 {
    background: blue;
    transition: left 10s linear;
    left: 0;
}
#container3.go {
    left: 1500px;
}

#container4 {
    background: pink;
    left: 0;
}
