<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table Example</title>
    <script type="text/javascript" src="script.js" defer></script>
    <link rel="stylesheet" href="style.css" type="text/css" />
</head>
<body>
    <div class="root">
        <p>Lorem Ipsum is Lorem Ipsum and I suppose it is Lorem Ipsum but it is not Lorem Ipsum Lorem Ipsum is Lorem Ipsum and I suppose it is Lorem Ipsum but it is not Lorem Ipsum</p>
        <p>Lorem Ipsum is Lorem Ipsum and I suppose it is Lorem Ipsum but it is not Lorem Ipsum Lorem Ipsum is Lorem Ipsum and I suppose it is Lorem Ipsum but it is not Lorem Ipsum</p>
        <p>Lorem Ipsum is Lorem Ipsum and I suppose it is Lorem Ipsum but it is not Lorem Ipsum Lorem Ipsum is Lorem Ipsum and I suppose it is Lorem Ipsum but it is not Lorem Ipsum</p>
        <p>Lorem Ipsum is Lorem Ipsum and I suppose it is Lorem Ipsum but it is not Lorem Ipsum Lorem Ipsum is Lorem Ipsum and I suppose it is Lorem Ipsum but it is not Lorem Ipsum</p>
        <p>Lorem Ipsum is Lorem Ipsum and I suppose it is Lorem Ipsum but it is not Lorem Ipsum Lorem Ipsum is Lorem Ipsum and I suppose it is Lorem Ipsum but it is not Lorem Ipsum</p>
        <p>Lorem Ipsum is Lorem Ipsum and I suppose it is Lorem Ipsum but it is not Lorem Ipsum Lorem Ipsum is Lorem Ipsum and I suppose it is Lorem Ipsum but it is not Lorem Ipsum</p>
    </div>
</body>
</html>