.root {
  color: #333;
  font-family: monospace;
  width: 300px;
  height: 400px;
  border: 1px solid #333;
  border-radius: 4px;
  box-shadow: 0 0 5px -3px #000;
  overflow: hidden;
  overflow-y: scroll;
  margin: 15% auto;
}

.root p {
  padding: 10px;
}

.root p.new {
  opacity: 0;
  transition: opacity 1s linear;
}

.root p.visible {
  opacity: 1;
}

.root p:nth-child(2n) {
  background: #eeefff;
}